html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}
summary {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary::-moz-list-bullet {
  list-style-type: none;
}
html,
body {
  background: #FFFFFF;
  color: #1E375A;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: auto;
}
body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 72px auto;
  grid-template-areas: "header   header" "sidebar  main";
}
body .header {
  grid-area: header;
}
body .sidebar {
  grid-area: sidebar;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto 225px;
  grid-template-areas: "content outline";
  max-width: 1000px;
}
main article {
  grid-area: content;
}
main aside {
  grid-area: outline;
}
@media only screen and (max-width: 1200px) {
  main aside {
    display: none;
  }
  main {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "content";
  }
}
@media screen and (max-width: 800px), (max-device-width: 800px) {
  body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 72px auto;
    grid-template-areas: "header" "main";
  }
  main article {
    max-width: 800px;
  }
  main article footer,
  main article header,
  main article section {
    margin-left: 26px;
    margin-right: 26px;
  }
}
.home {
  grid-template-columns: 100%;
  grid-template-rows: 72px auto;
  grid-template-areas: "header" "sections";
}
.home .sections {
  box-sizing: border-box;
  padding: 0px 88px;
  max-width: 1200px;
  margin: 0px auto;
  margin-bottom: 120px;
}
.home .sections section {
  margin-top: 60px;
}
.home .sections h1 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #939ba9;
  font-size: 24px;
}
.home .sections .cards {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
.home .sections .cards a {
  grid-template-rows: auto 100%;
}
.home .sections .cards a .name {
  font-size: 18px;
}
.home .sections .cards a.with-icon {
  grid-template-rows: auto auto 100%;
  display: grid;
}
.home .sections .cards a.with-icon .icon {
  margin-bottom: 20px;
}
.home .sections .cards a.with-icon img {
  width: 96px;
  height: 96px;
}
@media screen and (max-width: 950px), (max-device-width: 950px) {
  .home .sections .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px), (max-device-width: 800px) {
  .home .sections {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 20px;
  }
  .home .sections .cards {
    grid-template-columns: 1fr;
  }
}
.alert {
  box-sizing: border-box;
  display: block;
  margin: 32px 0px;
  padding: 24px 24px 24px 72px;
  position: relative;
  width: 100%;
  background-color: #F7F8FA;
  background-position-x: 20px;
  background-position-y: 20px;
  background-size: 32px;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%232364d2%22%20d%3D%22M11%2C9H13V7H11M12%2C20C7.59%2C20%204%2C16.41%204%2C12C4%2C7.59%207.59%2C4%2012%2C4C16.41%2C4%2020%2C7.59%2020%2C12C20%2C16.41%2016.41%2C20%2012%2C20M12%2C2A10%2C10%200%200%2C0%202%2C12A10%2C10%200%200%2C0%2012%2C22A10%2C10%200%200%2C0%2022%2C12A10%2C10%200%200%2C0%2012%2C2M11%2C17H13V11H11V17Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  border: none;
  border-color: #2364d2;
  border-radius: 3px;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
}
.alert.danger,
.alert.error {
  border-color: #ff4164;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23ff4164%22%20d%3D%22M12%2C2L1%2C21H23M12%2C6L19.53%2C19H4.47M11%2C10V14H13V10M11%2C16V18H13V16%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.alert.security {
  border-color: #f47100;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23f47100%22%20d%3D%22M21%2C11C21%2C16.55%2017.16%2C21.74%2012%2C23C6.84%2C21.74%203%2C16.55%203%2C11V5L12%2C1L21%2C5V11M12%2C21C15.75%2C20%2019%2C15.54%2019%2C11.22V6.3L12%2C3.18L5%2C6.3V11.22C5%2C15.54%208.25%2C20%2012%2C21M11%2C7H13V13H11V7M11%2C15H13V17H11V15Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.alert.nocloud {
  border-color: #54667e;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%2354667e%22%20d%3D%22M7.73%2C10L15.73%2C18H6A4%2C4%200%200%2C1%202%2C14A4%2C4%200%200%2C1%206%2C10M3%2C5.27L5.75%2C8C2.56%2C8.15%200%2C10.77%200%2C14A6%2C6%200%200%2C0%206%2C20H17.73L19.73%2C22L21%2C20.73L4.27%2C4M19.35%2C10.03C18.67%2C6.59%2015.64%2C4%2012%2C4C10.5%2C4%209.15%2C4.43%208%2C5.17L9.45%2C6.63C10.21%2C6.23%2011.08%2C6%2012%2C6A5.5%2C5.5%200%200%2C1%2017.5%2C11.5V12H19A3%2C3%200%200%2C1%2022%2C15C22%2C16.13%2021.36%2C17.11%2020.44%2C17.62L21.89%2C19.07C23.16%2C18.16%2024%2C16.68%2024%2C15C24%2C12.36%2021.95%2C10.22%2019.35%2C10.03Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.alert.warning,
.alert.warn {
  border-color: #f47100;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23F77D05%22%20d%3D%22M11%2C15H13V17H11V15M11%2C7H13V13H11V7M12%2C2C6.47%2C2%202%2C6.5%202%2C12A10%2C10%200%200%2C0%2012%2C22A10%2C10%200%200%2C0%2022%2C12A10%2C10%200%200%2C0%2012%2C2M12%2C20A8%2C8%200%200%2C1%204%2C12A8%2C8%200%200%2C1%2012%2C4A8%2C8%200%200%2C1%2020%2C12A8%2C8%200%200%2C1%2012%2C20Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.alert.success {
  border-color: #19d78c;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%2319d78c%22%20d%3D%22M12%2C2A10%2C10%200%200%2C1%2022%2C12A10%2C10%200%200%2C1%2012%2C22A10%2C10%200%200%2C1%202%2C12A10%2C10%200%200%2C1%2012%2C2M12%2C4A8%2C8%200%200%2C0%204%2C12A8%2C8%200%200%2C0%2012%2C20A8%2C8%200%200%2C0%2020%2C12A8%2C8%200%200%2C0%2012%2C4M11%2C16.5L6.5%2C12L7.91%2C10.59L11%2C13.67L16.59%2C8.09L18%2C9.5L11%2C16.5Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
article {
  margin: 0px 0px 48px 0px;
  overflow: hidden;
}
article header,
article section {
  margin: 0px 88px;
}
article header {
  padding: 40px 0px;
  border-bottom: 2px solid #EFF0F2;
  margin: 0px 88px 32px 88px;
}
article header h1 {
  font-size: 32px;
  font-weight: 500;
}
article footer {
  margin: 0px 88px;
}
main aside {
  margin: 40px 0px;
}
.table-of-contents {
  border-color: #EFF0F2;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  margin-right: 24px;
  padding-left: 24px;
  position: sticky;
  top: 30px;
}
.table-of-contents li a {
  display: block;
  line-height: 28px;
  color: #788497;
  font-size: 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}
.table-of-contents li a:hover {
  color: #2364d2;
}
.table-of-contents ul ul {
  display: none;
}
.table-of-contents header {
  color: #939ba9;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px 0px 12px 0px;
  position: relative;
  padding-left: 18px;
  user-select: none;
}
.table-of-contents header:before {
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23939ba9%22%20d%3D%22M3%2C3H21V5H3V3M9%2C7H21V9H9V7M3%2C11H21V13H3V11M9%2C15H21V17H9V15M3%2C19H21V21H3V19Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat left center;
  background-size: 13px;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 20px;
}
.breadcrumb {
  margin-bottom: 10px;
}
.crumb {
  display: inline-block;
}
.crumb a,
.crumb a:visited {
  text-decoration: none;
  color: #939ba9;
  display: flex;
  align-items: center;
}
.crumb a:after {
  margin-left: 5px;
  margin-right: 5px;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%239DAAB6%22%20d%3D%22M8.59%2C16.58L13.17%2C12L8.59%2C7.41L10%2C6L16%2C12L10%2C18L8.59%2C16.58Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
  width: 24px;
  height: 24px;
  content: "";
  display: inline-block;
}
.next-prev {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 24px;
}
.next-prev a {
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EFF0F2;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  text-decoration: none !important;
  transition: border-color 0.25s linear;
  margin: 32px 0px;
  margin-bottom: 0px;
  padding: 16px;
  color: #1E375A;
  user-select: none;
  grid-template-rows: 20px auto;
}
.next-prev a:hover {
  border-color: #2364d2;
}
.next-prev a:hover .name {
  color: #2364d2;
}
.next-prev a .name {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  grid-column: 2;
}
.next-prev a .type {
  text-decoration: none;
}
.next-prev .prev {
  display: grid;
  grid-column: 1;
  grid-template-columns: 30px auto;
}
.next-prev .prev .name {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}
.next-prev .prev .type {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  color: #939ba9;
  font-size: 12px;
}
.next-prev .prev .icon {
  grid-column: 1;
  grid-row: 1 / span 2;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%231E375A%22%20d%3D%22M20%2C11V13H8L13.5%2C18.5L12.08%2C19.92L4.16%2C12L12.08%2C4.08L13.5%2C5.5L8%2C11H20Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
}
.next-prev .prev:hover .icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%232364d2%22%20d%3D%22M20%2C11V13H8L13.5%2C18.5L12.08%2C19.92L4.16%2C12L12.08%2C4.08L13.5%2C5.5L8%2C11H20Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.next-prev .next {
  display: grid;
  grid-column: 2;
  grid-template-columns: auto 30px;
}
.next-prev .next .name {
  grid-column: 1;
  grid-row: 2;
}
.next-prev .next .type {
  grid-column: 1;
  grid-row: 1;
  color: #939ba9;
  font-size: 12px;
}
.next-prev .next .icon {
  grid-column: 2;
  grid-row: 1 / span 2;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%231E375A%22%20d%3D%22M4%2C11V13H16L10.5%2C18.5L11.92%2C19.92L19.84%2C12L11.92%2C4.08L10.5%2C5.5L16%2C11H4Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
}
.next-prev .next:hover .icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%232364d2%22%20d%3D%22M4%2C11V13H16L10.5%2C18.5L11.92%2C19.92L19.84%2C12L11.92%2C4.08L10.5%2C5.5L16%2C11H4Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.next-prev.one-column .next,
.next-prev.one-column .prev {
  grid-column: 1 / span 2;
}
@media screen and (max-width: 480px), (max-device-width: 480px) {
  .next-prev {
    grid-template-columns: 1fr;
  }
  .next-prev .next {
    grid-column: 1;
    margin-top: 0px;
  }
  .next-prev .prev {
    grid-column: 1;
    margin-top: 0px;
  }
}
.card {
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EFF0F2;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  text-decoration: none !important;
  transition: border-color 0.25s linear;
}
.cards {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 100%;
  margin-bottom: 24px;
}
.cards a,
.cards a:active,
.cards a:visited {
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EFF0F2;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  text-decoration: none !important;
  transition: border-color 0.25s linear;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 16px;
  user-select: none;
}
.cards a:hover {
  border-color: #2364d2;
}
.cards a:hover .name {
  color: #2364d2;
}
.cards .name {
  font-weight: 500;
  color: #1E375A;
}
.cards .desc {
  color: #939ba9;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
  overflow: hidden;
}
.content p,
.content h1,
.content h2,
.content h3,
.content ol,
.content ul,
.content img {
  margin-bottom: 24px;
}
.content h1 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #EFF0F2;
  font-size: 24px;
  font-weight: 700;
  padding-top: 40px;
  margin-top: 30px;
}
.content h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: 32px 0px 24px 0px;
}
.content h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 24px 0px;
}
.content a,
.content a:visited {
  color: #2364d2;
  text-decoration: none;
}
.content a:hover,
.content a:visited:hover {
  text-decoration: underline;
}
.content i,
.content em {
  font-style: italic;
}
.content strong {
  font-weight: 700;
}
.content code {
  background: #F7F7F9;
  margin: 0px;
  display: inline-block;
  padding: 0px 6px;
  font-size: 85%;
  border-radius: 3px;
  font-family: 'Roboto Mono', monospace;
}
.content pre > code {
  background: #F7F7F9;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 80%;
  line-height: 22px;
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 12px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: auto;
}
.content .chroma {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: auto;
}
.content .chroma .lntable {
  width: 100%;
}
.content .chroma td:last-of-type {
  width: 100%;
}
.content .chroma td:last-of-type .hl {
  display: block;
  color: #2364d2;
}
.content .chroma .lnt {
  color: #c1c7cd;
}
.content ul,
.content ol {
  padding-left: 24px;
}
.content li {
  list-style-type: disc;
}
.content img {
  margin-bottom: 24px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #EFF0F2;
  border-radius: 3px;
  padding: 1px;
  max-width: 100%;
}
.content > table {
  border: 1px solid #EFF0F2;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
  border-radius: 3px;
}
.content > table th,
.content > table td {
  border: 1px solid #EFF0F2;
  text-align: left;
  padding: 7px;
}
.content > table th {
  background: #f7f7f9;
}
.content dt {
  font-weight: 600;
}
.content dd {
  margin-bottom: 24px;
}
.language-diff .gd,
.language-patch .gd {
  color: #ff4164;
  background: #f9d6df;
}
.language-diff .gi,
.language-patch .gi {
  color: #0d724a;
  background: #ddf3eb;
}
.language-tcl .nv,
.language-tcl .mi {
  color: #1e375a;
}
.language-tcl .c {
  color: #c1c7cd;
}
.content blockquote {
  color: #788497;
  margin: 0px 0px 24px;
  padding: 0px 0px 0px 12px;
  border-color: #EFF0F2;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
}
.content .reference {
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EFF0F2;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  text-decoration: none !important;
  transition: border-color 0.25s linear;
  display: flex;
  margin: 32px 0px;
  padding: 16px;
  user-select: none;
}
.content .reference .name {
  color: #2364d2;
  flex: 1 1 auto;
  font-size: 16px;
}
.content .reference .path {
  color: #939ba9;
  font-size: 12px;
}
.content .reference .icon {
  margin-right: 16px;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%232364d2%22%20d%3D%22M4%2C11V13H16L10.5%2C18.5L11.92%2C19.92L19.84%2C12L11.92%2C4.08L10.5%2C5.5L16%2C11H4Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
  width: 24px;
}
.content .reference:hover {
  border-color: #2364d2;
}
@media screen and (max-width: 600px), (max-device-width: 600px) {
  .content .reference .path {
    display: none;
  }
}
.header {
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: none;
  background-color: #253d5f;
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px auto;
  z-index: 1;
}
.header .branding {
  display: flex;
  padding: 0px 24px;
}
.header .logo {
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.header .logo img {
  width: 30px;
  height: 30px;
}
.header .menu {
  align-items: center;
  cursor: pointer;
  display: none;
  height: 30px;
  width: 30px;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M3%2C6H21V8H3V6M3%2C11H21V13H3V11M3%2C16H21V18H3V16Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
  background-size: 28px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.header .title {
  color: #FFFFFF;
  font-size: 22px;
  margin-left: 20px;
  text-decoration: none;
}
@media screen and (max-width: 800px), (max-device-width: 800px) {
  .header {
    grid-template-columns: auto;
  }
  .header .search {
    display: none !important;
  }
  .header .title {
    display: none !important;
  }
  .header .menu {
    display: flex !important;
  }
  .header .logo {
    margin: 0px auto;
  }
}
.overlay {
  opacity: 0;
  background: rgba(24, 48, 85, 0.3);
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity;
  position: hidden;
  top: -1000px;
  left: -1000px;
}
.overlay.open {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  opacity: 0.8;
}
@media screen and (min-width: 801px) and (min-device-width: 801px) {
  .overlay {
    display: none !important;
  }
}
.search {
  padding: 0px 26px;
  max-width: 755px;
  box-sizing: border-box;
  text-align: center;
}
.search > .algolia-autocomplete {
  display: block;
  width: 100%;
}
.search input {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  color: #FFF;
  font-size: 15px;
  outline: none;
  padding: 0px 15px;
  width: 100%;
  margin: 0px auto;
  height: 38px;
}
.algolia-autocomplete .ds-dropdown-menu:before {
  border-top-color: #EFF0F2;
  border-bottom-color: #EFF0F2;
}
.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border: none !important;
  border-radius: 3px !important;
}
.algolia-autocomplete .ds-dropdown-menu {
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border: 1px solid #EFF0F2;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0 6px 18px 9px rgba(116, 129, 141, 0.2);
  padding: 20px 0px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 20px 20px;
  box-sizing: border-box;
  text-align: left;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
  box-sizing: border-box;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  color: #2364d2;
  background: #f7f8fa;
  box-sizing: border-box;
}
.sidebar {
  background: #F7F8FA;
  border-width: 0px 1px 0px 0px;
  border-color: #EFF0F2;
  border-style: solid;
}
.sidebar header {
  display: none;
  padding: 0px 26px;
  align-items: center;
  position: sticky;
  top: 0px;
}
.sidebar header button {
  width: 30px;
  height: 30px;
  align-items: center;
  cursor: pointer;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M20%2C11V13H8L13.5%2C18.5L12.08%2C19.92L4.16%2C12L12.08%2C4.08L13.5%2C5.5L8%2C11H20Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.sidebar .back {
  padding: 0px 0px 0px 24px;
}
.sidebar .back a {
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #EFF0F2;
  box-sizing: border-box;
  color: #54667e;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 55px;
  padding-left: 54px;
  text-decoration: none;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%2354667e%22%20d%3D%22M21%2C11H6.83L10.41%2C7.41L9%2C6L3%2C12L9%2C18L10.41%2C16.58L6.83%2C13H21V11Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat 16px center;
}
.sidebar .back a:hover {
  background-color: #ECEEF2;
}
.sidebar > .title {
  margin-top: 40px;
  padding: 0px 0px 0px 24px;
}
.sidebar > .title span,
.sidebar > .title a,
.sidebar > .title a:visited {
  color: #939ba9;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 36px;
  padding-left: 16px;
}
.sidebar > .title a:hover {
  background-color: #ECEEF2;
}
.sidebar > .title ~ .tree {
  margin-top: 0px;
  padding-top: 0px;
}
@media screen and (max-width: 800px), (max-device-width: 800px) {
  .sidebar {
    position: fixed;
    top: 0px;
    left: -301px;
    bottom: 0px;
    width: 300px;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    transition: left 0.2s ease-in-out;
  }
  .sidebar.open {
    left: 0px;
    display: block;
    border-right: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px, rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }
  .sidebar header {
    background: #253d5f;
    display: flex;
    box-sizing: border-box;
    height: 72px;
    border-bottom: none;
    transition: left 0.2s ease-in-out;
  }
}
.content.spec p > code {
  line-height: 20px;
}
.content.spec p > a > code {
  line-height: 20px;
  color: #2364d2;
}
.content.spec .kr {
  font-weight: 600;
}
.content.spec .nx,
.content.spec .kt {
  color: #2364d2;
}
.sidebar #TableOfContents {
  padding: 32px 0px 32px 24px;
}
.sidebar #TableOfContents ul {
  margin: 0px;
  counter-reset: item;
}
.sidebar #TableOfContents > ul > li > ul {
  margin: 0px;
  margin-bottom: 24px;
}
.sidebar #TableOfContents li a {
  box-sizing: border-box;
  color: #939ba9;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 7px 24px 7px 16px;
  text-decoration: none;
  user-select: none;
}
.sidebar #TableOfContents li a code {
  color: #2364d2;
  color: #1E375A;
  font-family: 'Roboto Mono', monospace;
}
.sidebar #TableOfContents li a:hover {
  background: #ECEEF2;
  cursor: pointer;
}
.sidebar #TableOfContents > ul > li {
  margin-bottom: 20px;
  counter-increment: item;
}
.sidebar #TableOfContents > ul > li > a {
  color: #54667e;
  line-height: 22px;
  padding: 7px 24px 7px 16px;
}
.sidebar #TableOfContents > ul > li > a:before {
  display: inline-block;
  width: 40px;
  content: counters(item, ".") " ";
  font-size: 16px;
}
.sidebar #TableOfContents > ul > li > ul > li {
  counter-increment: item;
}
.sidebar #TableOfContents > ul > li > ul > li > a:before {
  display: inline-block;
  width: 40px;
  content: counters(item, ".") " ";
  font-size: 15px;
}
.tree {
  padding: 32px 0px 32px 24px;
}
.tree ul {
  margin: 0px 0px 0px 16px;
  border-width: 0px 0px 0px 1px;
  border-color: #EFF0F2;
  border-style: solid;
}
.tree > ul {
  border-left: 0px;
  margin-left: 0px;
}
.tree li a {
  box-sizing: border-box;
  color: #939ba9;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 7px 24px 7px 16px;
  text-decoration: none;
  user-select: none;
}
.tree li a:hover {
  background: #ECEEF2;
  cursor: pointer;
}
.tree li.hide_children a {
  position: relative;
}
.tree li.hide_children a:after {
  content: "";
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%239DAAB6%22%20d%3D%22M8.59%2C16.58L13.17%2C12L8.59%2C7.41L10%2C6L16%2C12L10%2C18L8.59%2C16.58Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
  background-size: 22px;
  position: absolute;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.tree li.open-in-new {
  position: relative;
}
.tree li.open-in-new:after {
  content: "";
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23939ba9%22%20d%3D%22M14%2C3V5H17.59L7.76%2C14.83L9.17%2C16.24L19%2C6.41V10H21V3M19%2C19H5V5H12V3H5C3.89%2C3%203%2C3.9%203%2C5V19A2%2C2%200%200%2C0%205%2C21H19A2%2C2%200%200%2C0%2021%2C19V12H19V19Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
  background-size: 16px;
  position: absolute;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.tree details summary {
  box-sizing: border-box;
  list-style-image: none;
  list-style-type: none;
  outline: none;
  padding-right: 52px;
  position: relative;
}
.tree details summary:after {
  content: "";
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%239DAAB6%22%20d%3D%22M8.59%2C16.58L13.17%2C12L8.59%2C7.41L10%2C6L16%2C12L10%2C18L8.59%2C16.58Z%22%20%2F%3E%0A%3C%2Fsvg%3E") no-repeat center center;
  background-size: 22px;
  position: absolute;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.tree details summary:hover {
  background: #ECEEF2;
  cursor: pointer;
}
.tree details[open] > summary:after {
  transform: rotate(-270deg) translate(100%, 0%);
  transform-origin: 100% 0;
}
.sidebar nav > ul > li > details > summary > a,
.sidebar nav > ul > li > a {
  color: #54667e;
}
.sidebar li.active > details > summary:hover,
.sidebar li.active > details > summary:hover a,
.sidebar li.active > details > summary:hover a:hover {
  background: #ECEEF2;
}
.sidebar li.active > details > summary,
.sidebar li.active > a {
  background: #ECEEF2;
  color: #2364d2;
  margin-left: -1px;
  border-width: 1px 0px 1px 1px;
  border-color: #EFF0F2;
  border-style: none;
}
.sidebar li.active > details > summary a {
  color: #2364d2;
}
@media screen and (max-width: 800px), (max-device-width: 800px) {
  .sidebar {
    border-width: 0px !important;
  }
}
